.main-title {
  color: rgb(107, 95, 140)
}

.box {
  display: inline-block;
  height: 350px;
  width: calc(20% - 10px);
  border: 1px solid black;
  box-shadow: 1px 1px 1px 0.15px;
}

.palette-generate-button {
  display: flex;
  margin: 20px auto;
  padding: 15px;
}

.new-palette-form {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.new-project-form {
  display: flex;
  justify-content: center;
  padding: 30px;
  border-top: 5px solid #000;
  text-align: center;
}


.unlocked-btn {
  background-image: url("./images/unlock.svg");
  height: 30px;
  width: 30px;
}

.unlocked-btn:hover {
  background-image: url("./images/unlock.svg");
  height: 40px;
  width: 40px;
}

.locked {
  background-image: url("./images/lock.svg");
  height: 30px;
  width: 30px;
}

.locked:hover {
  background-image: url("./images/lock.svg");
  height: 40px;
  width: 40px;
}

.saved-palette-color {
  display: inline-block;
  border: black solid 2px;
  height: 60px;
  width: 60px;
  padding: 10px 10px 10px 10px;
}

.trash-icon {
  display: inline-block;
  vertical-align: middle;
  padding: 8px;
  height: 20px;
  width: 20px;
  background-image: url(./images/close-button.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 30px 0 0 10px;
}

.trash-icon:hover {
  background-image: url(./images/hover-close-button.svg);
}

.page-container {
  display: flex;
  flex-wrap: wrap;
}